@model CodeChallenge0.Models.ViewModel.ServiceOrder

@{
    ViewData["Title"] = "Detail Service Order";
}

<h1>Service Order Details</h1>

<div>
    <h4>ServiceOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceOrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceOrderId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
